*box-sizing {
    box-sizing: border-box;
}

body {
    color: rgb(0,0,0);
    height: 100vh;
    padding-top: 56px;

}

main {
    background-color: #e4e4e4;
}

abbr {
    border: none;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

textarea {
    resize: none;
}
/* HEADER - start */
    /* Mobile */

.home {
    background-image: url("../images/20200928_145436.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.home-presentation {
    background-color: rgba(22, 22, 22, 0.7);
    border-radius: 3px;
    color: white; 
    margin: 20px 16px;
    max-width: 60%;
    padding: 8px;
    text-shadow: 0 0 5px black;
}
/* HEADER - end */
